<div class="container">
  


  <div class="post-detail" *ngIf="(post | async) as postDetail">

    <mat-card class="post-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{postDetail.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{postDetail.description}}
        </p>
      </mat-card-content>
      <!-- TODO: actions tb be implemented -->
      <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
            </mat-card-actions> -->
    </mat-card>

  </div>
 
</div>