<div
      class="file-upload"
      [class.drag-over]="dragOver"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <input
        type="file"
        [attr.accept]="acceptedTypes"
        [attr.multiple]="multiple ? '' : null"
        (change)="onFileChange($event)"
        #fileInput
        hidden
      />
      <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">
        <mat-icon>upload_file</mat-icon>
        <span>{{ multiple ? 'Select Files' : 'Select File' }}</span>
      </button>
      <div class="drag-text">
        <mat-icon>drag_indicator</mat-icon>
        <span>or drag & drop {{ multiple ? 'files' : 'a file' }} here</span>
      </div>
      @if (fileNames.length > 0) {
        <div class="selected-files">
          <mat-icon>attach_file</mat-icon>
          <span>{{ fileNames.join(', ') }}</span>
        </div>
      }
    </div>