// .spacer {
//     flex: 1 1 auto;
// }

// .header {
//     color: var(--mat-sys-primary);
//     background: var(--mat-sys-primary-container);
// }

.logo {
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
    }
.spacer {
      flex: 1 1 auto;
    }
.user-menu {
      display: flex;
      align-items: center;
    }