@if(data?.post) {

    <h2 mat-dialog-title>Edit Post</h2>
} @else {

    <h2 mat-dialog-title>Add Post</h2>
}
<mat-dialog-content>
    <div [formGroup]="postForm" class="form">
        <p data-cy="dialog-title">What's on your Mind!!!</p>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input data-cy="post-title" matInput formControlName="title" />
            @if (getControl('title').invalid) {
                <mat-error>Title Required</mat-error>
              }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea data-cy="post-description" matInput formControlName="description"></textarea>
            @if (getControl('description').invalid) {
                <mat-error>Description Required</mat-error>
              }
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="secondary" mat-dialog-close>Cancel</button>

    @if(data?.post) {
        <button mat-button color="primary" data-cy="update" mat-dialog-close (click)="updatePost()" >UPDATE</button>

    } @else {

        <button mat-button color="primary" data-cy="save" mat-dialog-close (click)="savePost()" >Save</button>
    }
</mat-dialog-actions>